<h1><%= session[:username] %>'s todo list</h1>

<% @todos.each do |todo| %>
	<div>
		<br>
		<h2> <a href="/users/todos/lists" ><%= todo.title %></a> </h2>
		<a class="btn btn-primary" href="/users/todos/<%= todo.id %>/lists" role="button">Lists</a>
		<a class="btn btn-primary" href="/users/todos/edit/<%= todo.id %>" role="button">Edit</a>
		<a class="btn btn-danger" href="/users/todos/delete/<%= todo.id %>" role="button">Delete</a>	
	</div>
<% end %>

