<li class="list-group-item"></li>
	<% @todos.each do |todo| %>
		<div>
			<ul class="list-group-horizontal">
				<li class="list-group-item list-group-item-dark"><%= todo.title %></li> 
				<a class="btn btn-primary" href="/users/todos/<%= todo.id %>/<%= START_PAGE %>/lists" role="button">Lists</a>
				<a class="btn btn-primary" href="/users/todos/edit/<%= todo.id %>" role="button">Edit</a>
				<a class="btn btn-danger" href="/users/todos/delete/<%= todo.id %>" role="button">Delete</a>
			</ul>
		</div>
	<% end %>

 
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <% if @page_id > START_PAGE %>
      <li class="page-item">
       <a class="btn btn-primary" align="center" href="/users/<%= @page_id - 1 %>/todos">RPEVIOUS</a>
      </li>
    <% end %>
    <% if @page_id * MAX_NUMBER_OF_ITEM < @number_of_todos %>
      <li  class="page-item">
        <a class="btn btn-primary" href="/users/<%= @page_id + 1 %>/todos">NEXT</a>  
      </li>
    <% end %>
  </ul>
</nav>

